.burgers {
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: flex;
  flex: 1;
}

.container--burgers {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  max-width: 1010px;
  width: 100%;
  display: flex;
  padding: 20px 0;

  @include phones {
    position: relative;
    padding: 15px 10px;
  }
}

.navigation--left {
  position: relative;
  width: 5%;
  margin-right: 1%;
  float: left;

  &:hover {
    cursor: pointer;
  }

  @include phones {
    position: absolute;
    left: 0;
  }

  .arrow-scroll {
    position: absolute;
    transform: rotate(90deg);
    width: 30px;
  }
}

.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex: 1;
}

.viewport {
  display: flex;
  width: 100%;
  transition: all 1s;
}

.burgers__content {
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 100%;

  @include tablets {
    flex-direction: column;
  }
}

.burgers__col-left {
  position: relative;
  width: 100%;
  color: #ffffff;
  font-family: 'Gagalin', Impact, sans-serif;
  font-weight: 400;
}

.burgers__consist {
  position: absolute;
  width: rem(90px);
  height: rem(90px);
  background-color: rgba(227, 80, 40, 0.4);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    background-color: $red;

    .burgers__consist-list {
      z-index: 10;
      opacity: 1;
    }
  }

  &-img {
    margin-bottom: 9px;
    width: 46px;
    height: 44px;
    background: url("../images/burger.png") center center no-repeat;
  }

  &-icon {
    width: 46px;
    height: 44px;
  }

  .burgers__consist-title {
    font-size: rem(14px);
  }

  &-list {
    position: absolute;
    width: 16.875rem;
    display: block;
    z-index: -10;
    opacity: 0;
    top: 0;
    left: 6.875rem;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    transition: all .5s;
  }
}

.consist-wrap {
  width: 100%;
  display: flex;
}

.consist {

  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.625rem 1.25rem;
    font-family: "Ubuntu", Arial, sans-serif;
    color: #2f3234;
    line-height: 1.5rem;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.625rem 1.25rem 0.625rem 0;
  }

  &__img {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 46px;
    height: 44px;
  }

  &__name {
    font-weight: 500;
    margin-left: 20px;
  }

  &__text {
    font-weight: 300;
    margin-left: auto;
  }
}


.burgers__kkal {
  position: absolute;
  width: 60px;
  height: 75px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: rem(20px);
  opacity: 0.5;

  @include tablets {
    right: 0;
    top: 0;
    bottom: initial;
    left: initial;
    margin-bottom: 5px;
  }

  &-icon {
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 5px;

    .kkal {
      width: 60px;
      height: 60px;
    }
  }

  &-value {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-title {
    font-size: rem(14px);
  }
}

.burgers__img {
  width: 100%;
  padding-top: 13%;
  padding-bottom: 14%;

  @include phones {
    padding-top: 20%;
    padding-bottom: 7%;
  }
}

.burgers__pic {
  display: block;
  max-width: 550px;
  object-fit: cover;
  margin: 0 auto;
  transition: max-width .5s linear;

  @include tablets {
    max-width: 405px;
  }

  @include phones {
    max-width: 305px;
  }
}

.burgers__col-right {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    text-align: center;
  }
}

.burgers__text {
  color: #ffffff;
  line-height: rem(23.97px);
  margin-bottom: 10%;

  @include phones {
    margin-bottom: 8%;
  }
}

.burgers__price {
  display: flex;

  &-title {
    color: $red;
    font-family: 'Gagalin', Impact, sans-serif;
    font-weight: 400;
    line-height: rem(28.08px);
    font-size: rem(72px);
    white-space: nowrap;
    margin-right: rem(29px);

    @include phones {
      font-size: rem(50px);
    }

    span {
      font-size: rem(30px);
      letter-spacing: rem(-0.75px);
    }
  }
}

.navigation--right {
  position: relative;
  width: 5%;
  float: left;

  &:hover {
    cursor: pointer;
  }

  @include phones {
    position: absolute;
    right: 0;
    margin-right: 2%;
  }

  .arrow-scroll {
    position: absolute;
    width: 30px;
    transform: rotate(-90deg);
  }
}