.fixed-menu,
.reviews--overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f3234;
  align-items: center;
  justify-content: center;
  display: none;
  animation: appear 1s;
  -webkit-animation: appear 1s;
  z-index: 100;
}

.fixed-menu__open {
  display: flex;
  overflow: hidden;
}

.scroll-hidden {
  overflow: hidden;
  display: block;
}

.fixed-menu__logo {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 99px;
  height: 75px;
}

.fixed-menu__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  padding: 15px;
  background-color: transparent;
  border-color: transparent;
  box-sizing: content-box;

  use {
    fill: #fff;
  }

  &-icon {
    width: 18px;
    height: 18px;
  }
}

.fixed-menu__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__list {
  text-align: center;
  font-size: rem(24px);
  font-weight: 400;
  line-height: rem(40px);
  text-transform: uppercase;
}

.fixed-menu__item {
  padding: 15px;
  position: relative;

  &-link {
    text-decoration: none;
    color: #ffffff;
  }

  &-link:hover {
    border-bottom: 1px solid #ffffff;
    transition: all .3s;
  }

  &:before {
    content: '';
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 50%;
  }

  &--disable:before {
    content: none;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.99;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.99;
  }
}