.reviews {
  background: #b5babd;
}

.reviews__list {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
  filter: grayscale(1);

  @include tablets {
    width: 50%;
    height: 25%;
  }

  &-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  &-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-content {
    opacity: 0;
    color: #ffffff;
    line-height: rem(24px);
    padding: 50px 20px;
    transition: all 1s;
    
    @include tablets {
      text-align: center;
  
    }
  }

  &-title {
    @include headline;
    font-size: rem(14px);
    color: #ffffff;
    line-height: rem(28.11px);

    @include phones {
      font-size: rem(24px);
    }
  }

  &-text {

    @include tablets {
      margin-bottom: 5%;
      max-height: 30%;
      overflow: hidden;
    }

    @include phones {
      display: none;
    }
  }
}

.reviews__item-layer:hover {
  background-color: rgba(20, 20, 20, 0.7);
  transition: all .5s;

  .reviews__item-content {
    opacity: 1;
    transition: all 1s;
    transform: scale(1);
  }
}

.reviews__open,
.reviews--overlay {
  display: flex;
  overflow: hidden;
  background-color: rgba(46, 48, 50, 0.9);
  opacity: 0.9;
}

.reviews__container {
  width: 460px;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  line-height: 24px;
  color: #2f3234;
  border-radius: 5px;
  padding: 25px 20px;

  @include tablets {
    width: 473px;
    max-height: 100%;
  }

  @include phones {
    width: 275px;
    max-height: 100%;
  }

  .reviews__title {
    color: #2f3234;
    font-family: Gagalin;
    font-size: 14px;
    font-weight: 400;
    line-height: 28.11px;
  }
}

.reviews-close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  padding: 15px;
  background-color: transparent;
  border-color: transparent;
  box-sizing: content-box;

  use {
    stroke: $red;
    fill: $red;
  }
}

.reviews__title-overlay {
  color: #2f3234;
}