body {
  width: 100%;
  height: 100%; }

.wrapper-intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("images/video-bg.jpg") center center/cover no-repeat; }

.wrapper-content {
  width: 974px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 12px 80px; }

.header {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-size: 13px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__col-right {
    margin-right: 30px; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase; }

.menu__item {
  display: inline-block;
  padding-left: 15px; }
  .menu__item-link {
    text-decoration: none;
    color: #ffffff; }
  .menu__item-link:hover {
    border-bottom: 1px solid #ffffff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .menu__item:before {
    content: '';
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 15px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff; }
  .menu__item--disable:before {
    content: none; }

.button__order {
  padding: 11px 14px;
  background-color: #e45028;
  border-radius: 5px;
  border: 5px solid transparent;
  color: #fff;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }
  .button__order:hover {
    background-color: #c1401e;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px; }

.banner {
  width: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.banner__pic {
  width: 100%;
  position: relative; }
  .banner__pic-drops {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("images/drops.png") center 68px no-repeat; }
  .banner__pic-img {
    position: absolute;
    right: 0;
    display: inline-block; }

.banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.banner__title {
  margin-top: 22px;
  font-family: 'Lifehack', Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: -1.63px;
  font-size: 65px;
  color: #fff;
  line-height: 60px; }

.headline {
  color: #f9b43b;
  font-family: 'Gagalin', Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
  margin: 0;
  margin-top: 128px; }

.pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff; }
  .pagination__list__item {
    margin-bottom: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative; }
  .pagination__list__item:hover {
    border-color: #ffffff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .pagination__list__item-link {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff; }

.navigation__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
