.best {
  // position: relative;
  background: url("../images/bg/bg.jpg") center center / cover no-repeat;

  @include tablets {
    background: url("../images/bg/bg-768.jpg") center center / cover no-repeat;
  }
}

.container--best {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

.mnct {
  display: flex;
  justify-content: center;
  padding-bottom: 7%; 
  @include phones {
    flex-direction: column;
  }

  &__item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phones {
      flex-direction: initial;
      width: 100%;
      margin-bottom: 20px;
    }

    &-desc {
      text-align: center;

      @include phones {
        padding-left: 30px;
        text-align: left;
      }
    }
  }

  &__item-title {
    @include title;
    color: #2f3234;
    font-size: rem(24px);
    line-height: rem(28.14px);
    letter-spacing: rem(-0.6px);
    font-weight: bold;

    @include phones {
      font-size: rem(26px);
      margin-bottom: 0;
    }
  }

  &__item-text {
    opacity: 0.8;
    color: #2f3234;
    line-height: rem(24.02px);
    text-align: justify;
    padding: 6%; 

    @include phones {
      padding: 6% 0;
    }
  }

  &__item-img {
    width: rem(97px);
    height: rem(89px);
    margin-bottom: 12%; 

    @include phones {
      width: 90%;
      object-fit: cover;
    }
  }
}

.img--hand, .img--meat, .img--natural {
  width: rem(97px);
  height: rem(89px);
}
