.btn {
  padding: 7px 11px;
  background-color: $orange;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #fff;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $bghover;
    transition: all .3s;
  }

  &--black {
    background-color: $black;

    @include tablets {
      padding: 4% 9%;
    }

    @include phones {
      font-size: rem(13px);
    }
  }

  &--black:hover {
    background-color: #1f2122;
    transition: all .3s;
  }
}

.form__button-clean {
  border-color: transparent;
  background: transparent;

  &:hover {
    color: $red;
    border-color: transparent;
    background: transparent;
  }
}