.contacts {
  position: relative;
  background: url("../images/bg/map.png") center center / cover no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f3234;
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding: 10px 80px;

  @include phones {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer__col--right {
  display: flex;
  align-items: center;
  text-align: right;

  @include phones {
    margin-top: 10px;
  }
}

.adress {
  font-style: normal;

  &__text {
    color: #ffffff;
    line-height: rem(24px);
  }

  &__phone-link {
    text-decoration: none;
    color: $red;
    font-weight: 700;

    &:before {
      content: "";
      display: inline-block;
      background: url("../images/icons/phone.svg") center center no-repeat;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}

.social {
  display: flex;

  &__item {
    width: 23px;
    height: 23px;
    margin-left: 19px;

    &:first-child {

      @include phones {
        margin-left: 0;
      }
    }
  }
}

.social__link {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-vk {
  max-width: 23px;
  height: 13px;
}

.icon-fb {
  max-width: 20px;
  height: 20px;
}

.icon-inst {
  max-width: 20px;
  height: 20px;
}

.icon-twitter {
  max-width: 20px;
  height: 16px;
}