.contacts {
  position: relative;
  width: 100%;
}

.map {
  height: 100vh;
  width: 100%;
}

.map__hint {
  @include headline;
  padding: 20px;
  min-height: 55px;
  min-width: 150px;
  font-size: 20px;
  line-height: 1;
  color: $yellow;
  background-color: hsl(236, 94%, 60%);
  background-image: linear-gradient(to top, #3b7df9 0%, #38c1eb 48%, #3b8df9 74%, #3bcdf9 100%);
}

.map__balloon {
  @include headline;
  padding: 20px;
  font-size: 25px;
  line-height: 1;
  color: $orange;
  background-color: hsl(236, 94%, 60%);
  background-image: linear-gradient(to top, #3b7df9 0%, #38c1eb 48%, #3b8df9 74%, #3bcdf9 100%);

  span {
    color: $yellow;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f3234;
  display: flex;
  justify-content: space-between;
  text-align: start;
  padding: 10px 80px;
  z-index: 100;

  @include phones {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer__col--right {
  display: flex;
  align-items: center;
  text-align: right;

  @include phones {
    margin-top: 10px;
  }
}

.adress {
  font-style: normal;

  &__text {
    color: #ffffff;
    line-height: rem(24px);
  }

  &__phone-link {
    text-decoration: none;
    color: $red;
    font-weight: 700;

    &:before {
      content: "";
      display: inline-block;
      background: url("../images/icons/phone.svg") center center no-repeat;
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}

.social {
  display: flex;

  &__item {
    width: 23px;
    height: 23px;
    margin-left: 19px;
    opacity: 0.3;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }

    &:first-child {

      @include phones {
        margin-left: 0;
      }
    }
  }
}

.social__link {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-vk {
  max-width: 23px;
  height: 13px;
}

.icon-fb {
  max-width: 20px;
  height: 20px;
}

.icon-inst {
  max-width: 20px;
  height: 20px;
}

.icon-twitter {
  max-width: 20px;
  height: 16px;
}