.order {
  display: flex;
  position: relative;
  background: url("../images/bg/bg-texture.png") center center / cover no-repeat;
  background-color: #000000;
  opacity: 0.9;
}

.container--order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  margin-left: -3%;
  text-align: left;

  @include tablets {
    flex-direction: column;
    margin-left: 0;
  }

  &__col {
    width: 47%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;

    &-right {
      justify-content: start;
    }

    // margin-right: rem(20px);

    @include tablets {
      width: 100%;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
    margin-bottom: rem(19px);
    flex: 1;

    @include tablets {
      justify-content: center;
    }
  }

  &__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    &-title {
      margin-bottom: rem(7px);
    }

    &-buttons {
      display: flex;

      @include tablets {
        justify-content: center;
      }
    }
  }

  &__input {
    width: 100%;
    color: #2f3234;
    border-radius: rem(4px);
    border: rem(2px) solid transparent;
    padding: rem(11px) rem(20px);

    &:focus {
      border-color: $yellow;
    }

    &-textarea {
      resize: vertical;
      padding: rem(10px);
      min-height: rem(110px);
    }
  }

  &__radio {
    position: relative;
    white-space: nowrap;
    margin-right: rem(20px);
    display: flex;
    align-items: center;

    &-real {
      position: absolute;
      top: 0;
      //  display: none;
    }

    &-visible {
      width: rem(16px);
      height: rem(16px);
      border-radius: 50%;
      background-color: #ffffff;
      position: relative;
      margin-right: rem(8px);

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: rem(0px);
        height: rem(0px);
        border-radius: 50%;
        top: 50%;
        left: 50%;
        background-color: red;
        transform: translate(-50%, -50%);
        transition: all .3s;
      }
    }
  }
}

.error {
  color: $red;
}

.form__radio-real:checked {
  &+.form__radio-visible {
    &:after {
      width: rem(6px);
      height: rem(6px);
    }
  }
}

.form__checkbox {
  .form__radio-visible {
    border-radius: rem(0px);
  }


  .form__radio-real {
    &+.form__radio-visible {
      &:after {
        background: transparent;
      }
    }
  }



  .form__radio-real:checked {
    &+.form__radio-visible {
      &:after {
        background: url("../images/icons/check.png") 50% no-repeat;
        background-size: contain;
        width: rem(11px);
        height: rem(9px);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.container--overlay {
  position: relative;
  width: 250px;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.content--overlay {
  text-align: center;
  padding-bottom: 30px;
}