.headline {
  @include headline;

  &--hero {

    line-height: rem(30px);
    margin-top: 23%;
  }

  &--best {
    color: #2f3234;
    text-align: center;

    @include phones {
      font-size: 50px;
    }
  }

  &--team {
    margin-top: 0;
  }

  &--menu {
    color: #fff;
  }
}