.headline {
  @include headline;

  &--hero {
    line-height: rem(30px);
    margin-top: 23%;
  }

  &--best {
    color: #2f3234;
    text-align: center;

    @include phones {
      font-size: rem(50px);
    }
  }

  &--team {
    margin-top: 0;

    @include phones {
      font-size: rem(50px);
      margin-bottom: 3%;
    }
  }

  &--menu {
    color: #fff;

    @include phones {
      font-size: rem(50px);
    }
  }

  &--order {

    @include phones {
      font-size: rem(50px);
    }
  }

  &--burgers {
    color: #ffffff;
    margin-bottom: 40px;

    @include phones {
      font-size: rem(50px);
      margin-bottom: 5%;
    }
  }

  &--work {
    color: #2f3234;
    font-size: rem(61px);
  }
}