.header {
  font-size: rem(13px);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(12px);

  &__col {
    display: flex;
    align-items: center;
  }

  &__col-center {
    margin-left: rem(5px);

    @include tablets {
      display: none;
    }
  }

  &__col-rigth {
    @include tablets {
      margin-left: auto;
    }
  }
}

.logo {
  width: rem(99px);
  height: rem(75px);
}

.logo__pic {
  width: 99px;
  height: 75px;
}

.header__col-rigth {
  margin-right: 20px;
}

.hamburger-menu__link {
  display: none;
  position: relative;

  @include tablets {
    display: flex;
  }

  &,
  &:before,
  &:after {
    content: "";
    width: 24px;
    height: 4px;
    background: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &:before,
  &:after {
    position: absolute;
  }

  &:after {
    top: 100%;
    margin-top: 4px;
  }

  &:before {
    bottom: 100%;
    margin-bottom: 4px;
  }
}