.hero {
  background: url("../images/bg/video-bg.jpg") center center / cover no-repeat;
}

.container--hero {
  height: 100%;
  flex: 1;
}

.hero__content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablets {
    flex-direction: column;
    text-align: center;
    position: initial;
    transform: none;
  }
}

.hero__content__pic {
 width: 100%;
display: flex;
justify-content: center;

  &-img {
    display: block;
    width: 417px;
    height: 424px;
  }
}

.hero__content__text {
  width: 100%;
}

.hero__content-headline {
  line-height: rem(125px);
}

.hero__content-title {
  @include title;
  letter-spacing: rem(-1.63px);
  font-size: rem(65px);
  color: #fff;
  line-height: rem(60px);

  @include tablets {
    white-space: nowrap;
  }

  @include phones {
    white-space: initial;
  }
}