.burgers-menu {
  position: relative;
  background: url("../images/bg/menu.jpg") center center / cover no-repeat;
}

.container--menu {
  position: absolute;
  top: 10%;
  left: 10%;
}

.menu-acc {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;

  &__item {
    height: 100%;
  }
}

.menu-acc__item-trigger {
  width: rem(80px);
  height: 100%;
  position: relative;
  float: left;
  padding: 0;
  border: transparent;

  & h3 {
    @include headline;
    color: #fff;
    opacity: 1;
    font-size: rem(40px);
    font-weight: 400;
    align-items: center;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    position: absolute;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    margin-top: rem(-20px);
  }
}

.menu-acc__item-title {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
}

.menu-acc__text {
  height: 100%;
  color: #ffffff;
  line-height: rem(24px);
  background-color: #2f3234;
  opacity: 0.93;
  float: left;
  overflow: hidden;
  width: 0;

  &-content {
    padding: rem(60px) rem(30px);
    width: 100%;
    line-height: 1.8;
   // display: none;
  }

  &-active {
     width: rem(621px);
  }
}

.menu-acc__item-meat {
  background: url("../images/bg/photo-meat.jpg") center center / cover no-repeat;
  background-color: rgba(20, 20, 20, 0.7);
}

.menu-acc__item-vegan {
  background: url("../images/bg/photo-vegan.jpg") center center / cover no-repeat;
}

.menu-acc__item-diet {
  background: url("../images/bg/photo-diet.jpg") center center / cover no-repeat;
}

.menu-acc__item-trigger__active h3 {
  color: $yellow;
}