.menu__list {
  line-height: rem(30px);
  display: flex;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
}

.menu__item {
  display: inline-block;
  padding-left: rem(15px);

  &-link {
    text-decoration: none;
    color: #ffffff;
  }

  &-link:hover {
    border-bottom: rem(1px) solid #ffffff;
    transition: all .3s;
  }

  &:before {
    content: '';
    display: inline-block;
    margin-bottom: rem(2px);
    margin-right: rem(15px); //menu
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: #fff;
  }

  &--disable:before {
    content: none;
  }
}
