.pagination {
  position: fixed;
  top: 11%;
  right: 6%;

  @include tablets {
    display: none;
  }
}

.pagination__list {
  color: #ffffff;

  &__item {
    margin-bottom: 8px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
  }

  &__item.active, &__item:hover {
    border-color: $red;
    transition: all .3s;
  }

  &__item-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $red;
  }
}

.navigation {
  position: fixed;
  top: 90%;
  left: 50%;
}

.arrow-scroll {
      width: 30px;
      height: 15px;
    }