.pagination {
  position: fixed;
  top: 11%;
  right: 6%;

  @include tablets {
    display: none;
  }
}

.pagination__list {
  color: #ffffff;

  &__item {
    margin-bottom: rem(8px);
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    position: relative;
  }

  &__item:hover {
    border-color: #ffffff;
    transition: all .3s;
  }

  &__item-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: #fff;
  }

}

.navigation {
  position: fixed;
  top: 90%;
  left: 50%;

}

.arrow-scroll {
      width: rem(30px);
      height: rem(15px);
    }

