.pagination {
  position: fixed;
  top: 80px;
  right: 40px;
}
.pagination__list {
  color: #ffffff;

  &__item {
    margin-bottom: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
  }

  &__item:hover {
    border-color: #ffffff;
    transition: all .3s;
  }

  &__item-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
  }

}

.navigation__next {
  display: flex;
  justify-content: center;
}