.team {
  background: url("../images/bg/SBS_1255-X2.jpg") center center / cover no-repeat;
  position: relative;
}

.container--team {
  position: absolute;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2f3234;
  opacity: 0.93;
}

.team__content {
  
}
